<div class="col-sm-12 {{::addClass}}">
    <div  class="container-spinner animate" ng-if="show || show == undefined">
        <div  class="spinner {{size}} shadow-2">
          <div class="spinner-wrapper">
            <div class="rotator">
              <div class="inner-spin"></div>
              <div class="inner-spin"></div>
            </div>
          </div>
        </div>
        <div class="spinner-label animate">{{label}}</div>
    </div>
</div>
