<div class="border-tabs col-sm-{{::width}} animate shadow-2" style="display: none;">
    <div class="tab-prev animate">
        <i class="material-icons animate" ng-click="prevTab();">chevron_left</i>
    </div>
    <div class="tab-next animate">
            <i class="material-icons animate" ng-click="nextTab();">chevron_right</i>
    </div>
    <div class=" tabs-container tabs-container-header animate-fast">
        <div class="tabs-background animate-fast">
            <div  ng-repeat="tab in listTabs" class="tabs animate {{::tab.addClass}}" ng-init="$last && endTabs()" 
                 ng-click="clickTab($index);" id="tab{{$index}}">
                <i ng-if="::tab.icon" class=" material-icons">{{::tab.icon}}</i>
                <span>{{tab.label}}</span>
            </div>
            <div id="line-tab-select" class="animate shadow-2"></div>
        </div>

    </div>
    <div class=" tabs-container tabs-container-body animate">
        <div class="tabs-body-background animate"  style="width: {{listTabs.length}}00%;">
            <div ng-transclude></div>
            <ui-tab ng-repeat="tab in list" label="{{::tab.label}}" page="{{::tab.page}}" width="{{tab.width}}"> </ui-tab>
        </div>
    </div>
</div>