<div class="col-sm-{{width}}">
	<ui-checkbox ng-repeat="check in list" value="check" field="{{::field}}" width="{{::widthCheck}}" selecteds="selecteds"
		add-class="{{addClassCheck}}"></ui-checkbox>
</div>