<div class="animate">
    <input id=nav-left type="checkbox" name="nav-radio" class="nav-radio-left">
    <label id="btn-nav-left" for="nav-left" class="animate ">
            <span  class="material-icons animate">{{icon}}</span>
            <span class="text-center animate animate">{{label}}</span>
            <span class="material-icons animate btn-cancel-menu-slide-left">cancel</span>
    </label>
    <div class="animate nav-left-container" style="display: none;" ng-transclude>

    </div>
    <label  for="nav-left" class=" nav-close">
    </label>
</div>