<div class="form-group col-sm-{{::width}}" style="margin-top: -0.3em;">
	<div class="radio {{::addClass}} " >
	     <label>
	       <input type="radio" name="{{::name}}" value="{{::setValue}}" ng-model="value"/>
	       <span class="label-radio"> {{::label}}</span>
	     </label>
	</div>
</div>
