<div class="col-sm-{{::width}}">
	<div class="form-group  {{::notFloat}} {{::addClass}} float-area label-floating  {{empty}}" style="height: auto;">
	  <div style="width: 100%;">
	      <span ng-if="::iconBefore" class="input-group-addon">
	      	<i class="material-icons">{{::iconBefore}}</i>
	      </span>
		  <label class="control-label" ng-if="label">{{label}}</label>
		  <textarea class="form-control" ng-model="value" rows="{{::rows}}" ng-blur="onBlur();" placeholder="{{::placeholder}}"></textarea>
		  <span class="help-block text-danger animate" ng-if="showErro">{{msgInput}}</span>
	      <span ng-if="::iconAfter" class="input-group-addon">
	      	<i class="material-icons">{{::iconAfter}}</i>
	      </span>
	 </div>
	</div>
</div>
